In [ ]:
!ls /content/drive/My\ Drive/

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ks_2samp, mannwhitneyu, shapiro
import scipy.stats as stats
import seaborn as sns

#1.Load and Inspect Data

In [ ]:
file_path = "/content/drive/My Drive/SAML-D.csv"
df = pd.read_csv(file_path)
df.head()

,Time,Date,Sender_account,Receiver_account,Amount,Payment_currency,Received_currency,Sender_bank_location,Receiver_bank_location,Payment_type,Is_laundering,Laundering_type
0,10:35:19,2022-10-07,8724731955,2769355426,1459.15,UK pounds,UK pounds,UK,UK,Cash Deposit,0,Normal_Cash_Deposits
1,10:35:20,2022-10-07,1491989064,8401255335,6019.64,UK pounds,Dirham,UK,UAE,Cross-border,0,Normal_Fan_Out
2,10:35:20,2022-10-07,287305149,4404767002,14328.44,UK pounds,UK pounds,UK,UK,Cheque,0,Normal_Small_Fan_Out
3,10:35:21,2022-10-07,5376652437,9600420220,11895.00,UK pounds,UK pounds,UK,UK,ACH,0,Normal_Fan_In
4,10:35:21,2022-10-07,9614186178,3803336972,115.25,UK pounds,UK pounds,UK,UK,Cash Deposit,0,Normal_Cash_Deposits

# 2.Data Cleaning

## 2.1 Dealing with Missing Values

In [ ]:
df.isnull().sum().sort_values(ascending=False)

Time                      0
Date                      0
Sender_account            0
Receiver_account          0
Amount                    0
Payment_currency          0
Received_currency         0
Sender_bank_location      0
Receiver_bank_location    0
Payment_type              0
Is_laundering             0
Laundering_type           0
dtype: int64

## 2.2 Removing Duplicates

In [ ]:
initial_count = df.shape[0]
df.drop_duplicates(inplace=True)
print("Dropped duplicates: ", initial_count - df.shape[0])

Dropped duplicates:  0

## 2.3 Data Type Corrections

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9504852 entries, 0 to 9504851
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Time                    object
 1   Date                    object
 2   Sender_account          int64
 3   Receiver_account        int64
 4   Amount                  float64
 5   Payment_currency        object
 6   Received_currency       object
 7   Sender_bank_location    object
 8   Receiver_bank_location  object
 9   Payment_type            object
 10  Is_laundering           int64
 11  Laundering_type         object
dtypes: float64(1), int64(3), object(8)
memory usage: 870.2+ MB

## 2.4 Outliers and Data Range Checks

# 3. Exploratory Data Analysis (EDA)

## 3.1 Univariate Analysis
**Goal:** Understand individual feature distributions.